<div class="container">
  <ng-container *ngIf="(table_.table$ | async) as table">
    <div class="row">
      <div class="col s12 l3">
        <h2>Mesa {{table.id}}</h2>

        <h2>Jugadores</h2>
        <mat-list *ngIf="(table_.players$ | async) as players">
          <mat-list-item *ngFor="let player of players">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{player.nick}}</div>
            <div mat-line> Cartas {{player.deck.length}} </div>
          </mat-list-item>
        </mat-list>

        <ng-container *ngIf="table.deck">
          <div class="row">
            <div class="col s12">
              Cartas disponibles: {{table.deck.length}}
              <button mat-raised-button color="primary"
              (click)="table_.restart()">
                Reiniciar partida
              </button> <br>
              <button  *ngIf="colorSelected"
              mat-raised-button
              disable
              [style.backgroundColor]="colorSelected| cardColor: 'color'" >
                Elemento elegido: {{colorSelected | cardColor: 'name'}}
              </button>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col s12 l9">

        <ng-container *ngIf="table.started; else unStarted">
          <!-- DROPPED DECK -->

          <div class="row" id="dropped-deck-container">
            <div class="col s12 dropped-deck">
              <ng-container *ngIf="table.droppedDeck.length">
                <ng-container *ngFor="let card of table.droppedDeck">
                  <app-card
                  [appWithinDeck]="table.droppedDeck.length"
                  [card]="card"
                  ></app-card>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <!-- PLAYER AREA -->
          <div class="row" id="player-deck-container">
            <ng-container *ngIf="(player_.current$ | async) as player">

              <!-- PLAYER HEADER -->
              <div class="col s12">
                <p>
                  {{player.nick}}
                  <i class="fas fa-dot-circle red-text"
                  *ngIf="player.current"></i>
                </p>
              </div>

              <div class="col s12 player-deck">
                <ng-container *ngFor="let card of player.deck">
                  <app-card
                  [card]="card"
                  [appWithinDeck]="player.deck.length"
                  [playerDeck]="true"
                  ></app-card>
                </ng-container>
              </div>

              <div class="col s12">
                <button *ngIf="player.current"
                mat-raised-button
                color="primary"
                [disabled]="(player.deck | avaliableDrop | async)"
                (click)="table_.takeCard(player.id)" >
                  Tomar una carta
                </button>
                <!-- <button *ngIf="player.current"
                mat-raised-button
                color="accent"
                (click)="letTurn()" >
                  Pasar turno
                </button> -->

              </div>
            </ng-container>
          </div>

        </ng-container>

        <ng-template #unStarted >

          <ng-container *ngIf="player_.current$ | async as player; else notIn">
            <button mat-raised-button color="primary"
            (click)="table_.getStarted()"
            *ngIf="(table_.players$ | async) as players"
            [disabled]="players.length < 0"
            >Iniciar partida</button>
          </ng-container>
          <ng-template #notIn>
            <button mat-raised-button color="accent"
            (click)="addPlayer()"
            >Unirse a la mesa</button>
          </ng-template>


        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
