<div class="container">
  <ng-container *ngIf="(table_.current$ | async) as table">
    <div class="row">
      <div class="col l3">
        <h2>Mesa {{table.id}}</h2>

        <h2>Jugadores</h2>
        <mat-list *ngIf="(table_.players$ | async) as players">
          <mat-list-item *ngFor="let player of players">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{player.nick}}</div>
            <div mat-line> Cartas {{player.deck.length}} </div>
          </mat-list-item>
        </mat-list>

        <ng-container *ngIf="table.deck">
          <div class="row">
            <div class="col s12">
              Cartas disponibles: {{table.deck.length}}
              <!-- <button mat-raised-button color="primary"
              (click)="restart()">
                Reiniciar partida
              </button> <br> -->
              <button  *ngIf="colorSelected"
              mat-raised-button
              disable
              [style.backgroundColor]="colorSelected| cardColor: 'color'" >
                Elemento elegido: {{colorSelected | cardColor: 'name'}}
              </button>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col l9">

        <ng-container *ngIf="table.deck; else unStarted">
          <!-- CENTRAL DECK -->

          <div class="row">
          <div class="col s12 dropped-deck">
            <div class="card-container" *ngFor="let card of table.droppedDeck"
              [style.width]="100 / droppedDeck.length + '%'">
                <mat-card [style.backgroundColor]="card.color | cardColor:'color'"
                class="card mat-elevation-z5"
                (click)="table_.dropCard(card)"
                >
                  <mat-card-content>
                    <div class="card-value" [innerHtml]="card | cardValue:'small'"></div>
                    <div class="big-value" >
                      <span class="front" [innerHtml]="card | cardValue:'big'"></span>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
          </div>
          </div>

          <!-- PLAYERS DECK -->
          <div class="row">
            <ng-container *ngIf="(player_.current$ | async) as player">
              <div class="col s12 player-deck">

                <p>{{player.nick}}</p>
                <i class="fas fa-dot-circle red-text"
                *ngIf="player.current"></i>

                <div class="card-container" *ngFor="let card of player.deck"
                [style.width]="100 / player.deck.length + '%'">
                  <mat-card [style.backgroundColor]="card.color | cardColor: 'color'"
                  class="card mat-elevation-z5"
                  (click)="table_.dropCard(card)"
                  [ngClass]="{'unavalible': card | avalibleCard | async}"
                  >
                    <mat-card-content>
                      <div class="card-value" [innerHtml]="card | cardValue:'small'"></div>
                      <div class="big-value" >
                        <span class="front" [innerHtml]="card | cardValue:'big'"></span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>


              <div class="col s12">
                <button *ngIf="player.current"
                mat-raised-button
                color="primary"
                [disabled]="!player.allowTake"
                (click)="table_.takeCard(player.id)" >
                  Tomar una carta
                </button>
                <!-- <button *ngIf="player.current"
                mat-raised-button
                color="accent"
                (click)="letTurn()" >
                  Pasar turno
                </button> -->

              </div>
            </ng-container>
          </div>

        </ng-container>

        <ng-template #unStarted>
          <button mat-raised-button color="primary"
          (click)="table_.getStarted()"
          *ngIf="(table_.players$ | async) as players"
          [disabled]="players.length < 0"
          >Iniciar partida</button>
          <button mat-raised-button color="accent"
          (click)="addPlayer()"
          >Unirse a la mesa</button>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
