.spacer {
  flex: 1 1 auto;
}

.container {
  padding-bottom: 3em;
}

#dropped-deck-container {
  display: flex;
  justify-content: center;
}

.dropped-deck {
  display: flex;
  flex-flow: row;
  max-width: 50px;
  margin: 0 auto;
}

::ng-deep {
  .wildcard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    border-radius: 66% 33%;
    overflow: hidden;
  }
  .wildcard-small {
    border: solid 2px #fff;
    width: .8em;
    height: .8em;
  }
  .wildcard-big {
    border: solid 4px #fff;
    width: 8em;
    height: 8em;
  }
}


