<ng-container *ngIf="tid | areIn | async; else wait">
  <p mat-dialog-title>Elige un elemento</p>
  <mat-dialog-content>
    <mat-radio-group (change)="onColorSelected($event)"
    aria-label="Elige un elemento">

      <mat-radio-button value="red">
        <mat-card [style.backgroundColor]="RED"
        class="card mat-elevation-z5">
        </mat-card>
      </mat-radio-button>

      <mat-radio-button value="blu">
        <mat-card [style.backgroundColor]="BLUE"
        class="card mat-elevation-z5">
        </mat-card>
      </mat-radio-button>

      <mat-radio-button value="grn">
        <mat-card [style.backgroundColor]="GREEN"
        class="card mat-elevation-z5">
        </mat-card>
      </mat-radio-button>

      <mat-radio-button value="ylw">
        <mat-card [style.backgroundColor]="YELLOW"
        class="card mat-elevation-z5">
        </mat-card>
      </mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
</ng-container>

<ng-template #wait>
  <mat-dialog-content>
    <p class="center">Esperando un color</p>
  </mat-dialog-content>
</ng-template>


