<p mat-dialog-title>Elige un elemento</p>
<mat-dialog-content>
  <mat-radio-group (change)="onColorSelected($event)"
  aria-label="Elige un elemento">

    <mat-radio-button value="red">
      <mat-card [style.backgroundColor]="'#d20019'"
      class="card mat-elevation-z5">
      </mat-card>
    </mat-radio-button>

    <mat-radio-button value="blu">
      <mat-card [style.backgroundColor]="'#0059b1'"
      class="card mat-elevation-z5">
      </mat-card>
    </mat-radio-button>

    <mat-radio-button value="grn">
      <mat-card [style.backgroundColor]="'#347c2a'"
      class="card mat-elevation-z5">
      </mat-card>
    </mat-radio-button>

    <mat-radio-button value="ylw">
      <mat-card [style.backgroundColor]="'#d8c100'"
      class="card mat-elevation-z5">
      </mat-card>
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
