@import './assets/styles/palette.scss';
@import './assets/styles/environment/colors.scss';
@import './assets/styles/environment/responsive.scss';
@import '~@angular/material/theming';

@include mat-core();

$elementos-primary: mat-palette($md-primary);
$elementos-accent: mat-palette($md-accent);

$elementos-warn: mat-palette($md-warning);

$elementos-theme: mat-dark-theme((
  color: (
    primary: $elementos-primary,
    accent: $elementos-accent,
    warn: $elementos-warn,
  ),
));

@include angular-material-theme($elementos-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #202020;
  color: #e0e0e0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field {
  width: 100%;
}
