/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #fefbee,
    100 : #fdf4d4,
    200 : #fcedb8,
    300 : #fae69b,
    400 : #f9e085,
    500 : #f8db70,
    600 : #f7d768,
    700 : #f6d25d,
    800 : #f5cd53,
    900 : #f3c441,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff6dd,
    A700 : #ffefc3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondary: (
    50 : #ebe2ec,
    100 : #ceb7d1,
    200 : #ae88b2,
    300 : #8d5893,
    400 : #74347b,
    500 : #5c1064,
    600 : #540e5c,
    700 : #4a0c52,
    800 : #410948,
    900 : #300536,
    A100 : #e86fff,
    A200 : #e03cff,
    A400 : #d809ff,
    A700 : #c800ee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #fdf0e1,
    100 : #fbdab3,
    200 : #f9c281,
    300 : #f6aa4e,
    400 : #f49728,
    500 : #f28502,
    600 : #f07d02,
    700 : #ee7201,
    800 : #ec6801,
    900 : #e85501,
    A100 : #ffffff,
    A200 : #ffe7dc,
    A400 : #ffc3a9,
    A700 : #ffb190,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warning: (
    50 : #f8e1e5,
    100 : #edb5be,
    200 : #e18493,
    300 : #d45267,
    400 : #cb2d47,
    500 : #c20826,
    600 : #bc0722,
    700 : #b4061c,
    800 : #ac0417,
    900 : #9f020d,
    A100 : #ffc9cb,
    A200 : #ff969a,
    A400 : #ff6369,
    A700 : #ff4a50,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

